{% extends 'main_page/base.html' %}
{% load static %}
{% block trending %}
{% load hitcount_tags %}

<div class="container   mt-5">
 <div class="row">
    <div class="col-md-4 ">
        <img src = "{{writer.image.url}}" class="img-fluid rounded-circle " style = "float: left; height: 105px; width: 105px;"> 
       
        <h5 class="ml-3" style="float: right"> Total Articles : 20 </h5>
        <h5 style="float: right"> Article Views : {% get_hit_count for writer %} </h5> 
        <h5 style="float: right">  Article likes <span class="mr-3"></span> : 20 </h5> 

    </div>
   
 </div>  
 <div class="row">
     <div class="col-md-2">
        <h5> {{writer.name}} </p>
      <a href="" style="text-decoration: none; color: black;">  <i class="fa fa-facebook ml-3"></i> </a>
      <a href="" style="text-decoration: none; color: black;">  <i class="fa fa-twitter"></i> </a>
        <a href="" style="text-decoration: none; color: black;">  <i class="fa fa-instagram"></i> </a>
     </div>
 </div> 
   
            
        
</div> <hr>

{% endblock %}