{% extends 'main_page/base.html' %}
{% load static %}
{% load hitcount_tags %}
{% block trending %}

<div class="container">
    <h3 class="mt-3">{{trending_top2.title}}:</h3><hr>

    <div class="row">
        <div class="col-md-9 ">

            <h4> {{trending_top2.post_title}} </h4>
            <p class="text-muted">Views:  {% get_hit_count for trending_top2 %} </p>

            <p class="text-muted mt-1">
                By:<img src="{% static '/images/sandy.jpg' %}" class=" ml-2 img-fluid rounded-circle" style="width: 25px; height: 24px;"> <a href="#"> {{user.username}} </a> 
                <span class="ml-3">  {{trending_top2.date_posted}} </span>

            </p>
           <img src="{{trending_top2.image.url}}"  class="img-fluid">
           <p style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(0, 0, 0);" class="mt-3"> {{trending_top2.paragraph1|linebreaks}} </p>
           <p  style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(0, 0, 0);"> {{trending_top2.paragraph2}} </p>
        </div>
        <div  class="col-md-3 ">
           {% include 'main_page/writer_of_week.html' %}
        </div>
    </div>
   
</div>
{%  endblock  %}

{% block bodyblock %}

{% endblock %}